@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
    src: local("Roboto"),
        url("/fonts/roboto.woff2") format("woff2"),
        url("/fonts/roboto.woff") format("woff");
}
@font-face{
    font-family: "Caveat";
    font-style: normal;
    font-weight: 400;
    src:local("Caveat"),
        url("/fonts/caveat.woff2") format("woff2"),
        url("/fonts/caveat.woff") format("woff");
}

body{
    background-image: url("dotally.png");
    background-size: 52px;
    color:white;
    max-width: 960px;
    padding-right: 10px;
    padding-left:  10px;
    margin-left: auto;
    margin-right: auto;
    }
p{
    text-align: right;
}
em{
    color: green;
    border-bottom: double white;

}

h2{
    font-family: "Roboto";
    font: arial;
    color: red;
}

strong{
    font-family: "Caveat";
}